@charset "utf-8";
/* CSS Document */
*{ padding:0;
   margin:0;
   list-style:none;
   text-decoration:none;
}
.clearfix:after
{
	content:"";
	clear:both;
	display:block;
}
header
{
	background:rgba(0,0,0,0.4);
}
nav{ background:transparent;
	 height:50px;
}
#banner{ background:transparent;
		 height:700px;
}
nav ul{ float:right;}
nav ul li,nav .logo{ 
		   display:inline-block;
		   line-height:50px;
		   margin-right:20px;
}
nav ul li a{ line-height:50px;
			  display:inline-block;
			  height:inherit;/*继承父亲的50px*/
			  color:#fff;
}
nav ul li.logo{ 
			float:left;
			padding:10px;
}
/*之间缺少一部分*/
h1
{
	padding:12px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
h2
{
	font-size:30px;
}
h3
{
	font-size:24px;
	
}
p
{
	font-size:18px;
	letter-spacing:1px;
}
.hr{
	width:100%;
	height:2px;
	margin:20px auto;
}
.sub-heading
{
	font-size:18px;
}
/*之间缺少一部分*/


#banner .inner
{ 		
		max-width:300px;
		text-align:center;
	    margin:0 auto;
	    position:relative;
		top:160px;
		color:#fff;
}
/*#banner .inner h1
{
	margin:0;
}*/
button{ border:none;
		background:#ed4933;
		color:#eee;
		padding:10px;
		font-size:18px;
		border: none;
		text-align: center;
		width: 160px;
		margin-left: 60px;
		margin-top: 10px;
		cursor:pointer;
}
#banner button{ padding:14px 60px;}
#banner .inner .more{ margin-top:250px;
}
.sub-heading{ line-height:30px;
			  margin:20px 0;
}
.logo{ font-size:20px;
	   font-weight:700;
	   letter-spacing:1px;/*一句话字与字之间的距离*/
}
.logo a{ color:#fff;
		 margin-left:30px;
}


.green-section{ 
		text-align:center;
		background:#089BB0;
		color:#fff;
		padding:100px 0;
}
.green-section .hr{
	background:#098E9F;
	width:60%;
}
.green-section .icon-group .icon
{
	display:inline-block;
	width:80px;
	height:80px;
	background:#0D6F7c;
	transform:rotate(45deg);
	margin:20px;
}
.green-section .icon-group .icon i
{
	transform:rotate(-45deg);
	margin:28px auto;
}
.icon-group
{
	margin-top:60px;
}
.wrapper{ 
		max-width:1080px;
		margin:0 auto;
}

.gray-section
{
	background:#252F34;
	color:#fff;
}
.gray-section .img-section
{
	width:45%;
}
.img-section img
{
	width:100%;
}
.gray-section .text-section
{ 
	width:55%;
}
.article-preview > div
{
	float:left;
	font-size:0;
}
.article-preview:nth-child(odd)
{
	/*奇数选择器*/
	background:rgba(255,255,255,0.05);
}
.article-preview:after
{
	content:"";
	clear:both;
	display:block;
}
.text-section
{
	position:relative;
	top:68px;
	left:50px;
}
.text-section h2
{
	margin-bottom:20px;
}
.text-section .sub-heading
{
	font-size:22px;
	margin-top:0;
}
.text-section p
{
	font-size:18px;
	letter-spacing:1px;
}
.text-section > *
{
	max-width:90%;
}
.purple-section
{
	padding:80px;
	background:#3F3965;
	color:#fff;
	
}
.purple-section .heading-wrapper
{
	
	text-align:center;
}
.purple-section .hr
{
	background:#373259;
	width:60%;
}
.card-group
{
	margin:80px;
}
.card
{
	float:left;
	width:50%;
	min-width:300px;
	padding:50px;
	
	box-sizing:border-box;
	border:1px solid white;
}
.card:first-child
{ 
	background:rgba(0,0,0,0.04);
}
.card:nth-child(2)
{
	background:rgba(0,0,0,0.08);
}
.card:nth-child(3)
{
	background:rgba(0,0,0,0.12);
}
.card:nth-child(4)
{
	background:rgba(0,0,0,0.16);
}
.card:nth-child(5)
{
	background:rgba(0,0,0,0.20);
}
.card:nth-child(6)
{
	background:rgba(0,0,0,0.24);
}


.adder
{
	width:100%;
	height:300px;
	background:rgba(0,0,0,0.4);
	line-height:30px;
}
.adder_l
{
	float:left;
	margin-left:300px;
	margin-top:100px;
	color:#fff;
	width:400px;
	
	
}
.button1
{
	margin-top:90px;
}

.adder_r
{
	float:right;
	padding-right:100px;
	
}
footer
{
	background:#333;
	color:#fff;
	min-height:400px;
	text-align:center;
}
ul.share-group
{
	display:block;
	width:1080px;
	margin:0 auto;
	padding:50px;
}
.share-group li
{
	display:inline-block;
	padding:10px;
}
.copy
{
	padding-bottom:20px;
}
.main-wrapper
{
	background:#444 url(img/IMG_20170209_134626.jpg);
	background-attachment:fixed;/*图片固定*/
	background-repeat:no-repeat;/*图片不重复*/
	background-size:cover;/*图片覆盖在*/
	background-position:center center;/*图片居中*/
	overflow:hidden;
}

.mask
{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.3);
}

#sidebar
{
	position:fixed;
	top:0;
	bottom:0;
	right:-300px;
	width:300px;
	background:#333;
	padding:20px 0;
	transition:right 0.5s;
}
#sidebar ul a
{
	color:#fff;
	padding:10px 30px;
	display:inline-block;
	width:100%;
}
#sidebar ul a:hover
{
	background:#444;
}
.backTop
{
	   width:50px;
	   height:50px;
	   background:#888;
	   color:#fff;
	   text-align:center;
	   font-size:30px;
	   line-height:50px;
	   text-decoration:none;
	   right:50px;
	   bottom:50px;
	   position:fixed;
	   display:none;
}
.backTop:hover
{
	background:#0F0;
}